#login {
  position: relative;
  background: url(../images/banner/envio.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

#cadastro {
  position: relative;
  background: url(../images/banner/envio.png) no-repeat;
  background-size: cover;


}

.header-transparent {
  background: transparent;
  box-shadow: none;
  border-radius: 0px;
}

.overlay {
  opacity: 0.7;
}
