.table-text {
  margin: -4rem 0 3rem 0;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #FAFAFA;
  border-radius: 5px;
  padding: 12px;
}

.table {
  border-collapse: collapse;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table th, .table td {
  vertical-align: top;
}

.table td.limit-width-table {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fa-download{
  margin-left: 10px;
}

th {
  text-align: inherit;
}
